
.footer__image {
    width: 40px;
}
.footer {
    background-color: var(--footer-background-color);
    padding: 60px 20px 20px 20px; ;
    
}

.footer__title {
    font-size: 35px;
    color: var(--footer-text-color)

}
.footer__description {
    font-size: 18px;
    color: var(--footer-description);
}
.footer__label {
    font-size: 14px;
    color: var(--footer-description);
    font-weight: bold;
}

.footer__email,.footer__linkedin,.footer__phone{
    font-size: 20px;
    color: var(--footer-text-color);
    font-weight: bold ;
}
.footer__section {
    text-align: center;
    margin-bottom: 20px;
}
