.top-service {
  padding: 40px 12%;
}

.top-service__examples {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 40px;
}

.top-service__example-container {
  position: relative;
  aspect-ratio: 1 / 1;
}

.top-service__example--button {
  background-color: var(--top-service-button-background);
  font-family: "Poppins", sans-serif;
  padding: 15px;
  font-size: 15px;
  width: 135px;
  height: 50px;
}

.top-service__hover-container {
  position: absolute;
  color: white;
  font-size: 20px;
  transform: scale(0);
  transition:
    transform 0.3s ease-in-out,
    0.3s ease-in-out;
}
.top-service__example--image {
  height: 100%;
  z-index: -1;
}

.mat-mdc-button-persistent-ripple {
  color: aliceblue;
}

.top-service__example-container:hover {
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7));
}

.top-service__example-container:hover > .top-service__hover-container {
  transform: scale(1);
}
.top-service__title {
  font-family: "Poppins", sans-serif;
  font-size: 62px;
  color: var(--top-service-title-color);
  margin: 15px;
}

.top-service__subtitle {
  font-size: 18px;
  margin: 15px;
  color: var(--top-service-subtitle-color);
  margin-bottom: 30px;
  padding-bottom: 10px ;
  border-bottom: 1px solid #e5e6e7;
}

.top-service__line {
  color: brown;
  height: 30px;
}
.top-service{
  border-radius: 8px; 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); 

}
@media (max-width: 700px) {

  .top-service__title {
    font-size: 35px;
  }
}
