<mat-card
  class="about-me-preview"
  fxLayout="row"
  fxLayout.lt-md="column"
  fxLayoutAlign="center center"
  fxLayoutGap="20px"
>
  <mat-card-content class="about-me-preview__image-container" fxFlex="50%">
    <img
      src="assets/images/about-me-image/about-me-image.webp"
      alt="House Picture"
    />
  </mat-card-content>
  <mat-card-content
    fxFlex="50%"
    class="about-me-preview__text-container"
    fxLayout="column"
    fxLayoutAlign="center center"
    fxLayoutGap="20px"
  >
    <mat-card-title class="about-me-preview__title poppins-extrabold"
      >A Few Words About Me</mat-card-title
    >
    <p class="about-me-preview__subtitle">
      Architecture driven by innovations -
    </p>
    <mat-card-subtitle class="about-me-preview__small-description">
      {{ smallDescription$ | async }}
    </mat-card-subtitle>
    
    <div fxLayout="row wrap" class="about-me-preview__examples-container">
      <div
        class="about-me-preview__ngfor-container"
        *ngFor="let item of data.aboutMeData.goodAt"
      >
        <div
          class="about-me-preview__example-container"
          fxLayout="row"
          fxLayoutAlign="center center"  fxLayoutGap="10px"
        >
          <mat-icon class="about-me-preview__example--done-icon">done</mat-icon>
          <p class="about-me-preview__example--text">{{ item }}</p>
        </div>
      </div>
    </div>

    <p class="about-me-preview__big-description">
      {{ data.aboutMeData.bigDescription }}
    </p>
    <div
      class="about-me-preview__buttons"
      fxLayout="row"
      fxLayoutAlign="center center"
      fxLayoutGap="20px">
   
      <div class="about-me-preview__button-wrapper" fxLayout="row"
      fxLayoutAlign="center center">
        <button mat-button class="about-me-preview__button">Learn More</button>
      </div>
      <div class="about-me-preview__button-wrapper"fxLayout="row"
      fxLayoutAlign="center center" >
        <button mat-button class="about-me-preview__button">Learn More</button>
      </div>
  
    </div>
  </mat-card-content>
</mat-card>
