.about-me-preview__example-container {
  min-width: 200px;
  height: 50px;
}

.about-me-preview__examples-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  grid-gap: 10px;
}
.about-me-preview__example--text {
    width: 120px;
}

.about-me-preview__example--done-icon {
    color: green;
}

.top-service__example--button {
    border: 3px solid black
}