<div
  class="about-me-preview"
  fxLayoutAlign="start start"
  fxLayoutGap="16px"
  fxLayout="row"
>
  <div class="about-me-preview__image-container" fxFlex="50%">
    <img src="../../assets/images/about-me-image/about-me-image.webp" alt="" />
  </div>
  <div
    class="about-me-preview__text-container"
    fxFlex="50%"
    fxLayoutAlign="start start"
    fxLayoutGap="16px"
    fxLayout="column"
  >
    <h2 class="about-me-preview__title">A Few Words About Me</h2>
    <p class="about-me-preview__subtitle">
      Architecture driven by innovations -
    </p>
    <p class="about-me-preview__small-description">
      {{ smallDescription$ | async }}
    </p>
    <div fxLayout="row wrap" class="about-me-preview__examples-container">
      <!--  <div fxLayout="row wrap" class="grid">-->
      <div
        class="about-me-preview__ngfor-container"
        *ngFor="let item of data.aboutMeData.goodAt"
      >
        <div
          class="about-me-preview__example-container"
          fxLayout="row"
          fxLayoutAlign="center center"
        >
          <mat-icon class="about-me-preview__example--done-icon">done</mat-icon>
          <p class="about-me-preview__example--text">{{ item }}</p>
        </div>
      </div>
    </div>

    <p class="about-me-preview__big-description">
      {{ data.aboutMeData.bigDescription }}
    </p>
    <div class="about-me-preview__buttons">
      <button mat-button class="top-service__example--button">Learn More</button
      ><button mat-button class="top-service__example--button">
        Learn More
      </button>
    </div>
  </div>
</div>
