<mat-toolbar class="navigation">
  <mat-toolbar-row
    class="navigation__row header-row low-screen-paddign"
    fxLayoutAlign="space-between center"
  >
    <img
      src="../../assets/images/logo.svg"
      alt="Site logo"
      class="header-row__logo"
    />
    <div
      class="header-row__contacts"
      fxLayout="row"
      fxLayoutGap="15px"
      *ngIf="isHandset"
    >
      <div class="header-row__email" fxLayout="column">
        <p
          class="header-row__email--title inconsolata-italic-light contacts-text-color"
        >
          Write Me
        </p>
        <p
          class="header-row__email--email inconsolata-normal-light contacts-email-number-color"
        >
          adamsmith@email.com
        </p>
      </div>
      <div class="header-row__number" fxLayout="column">
        <p
          class="header-row__number--title inconsolata-italic-light contacts-text-color"
        >
          Call Me
        </p>
        <p
          class="header-row__number--number inconsolata-normal-light contacts-email-number-color"
        >
          +1 (234) 567 89 00
        </p>
      </div>
    </div>
    <button
      mat-icon-button
      *ngIf="!isHandset"
      [matMenuTriggerFor]="menu"
      (click)="toggleMenu()"
    >
      <mat-icon>menu</mat-icon>
    </button>
    <mat-menu #menu="matMenu" class="header-row__menu">
      <div class="header-row__menu--container" fxLayout="column">
        <button
          mat-menu-item
          routerLink="/"
          class="header-row__menu--item second-row-nav inconsolata-italic-light"
          fxLayout="row"
          fxLayoutAlign="center center"
        >
          Home
        </button>
        <button
          mat-menu-item
          routerLink="/about"
          class="header-row__menu--item second-row-nav inconsolata-italic-light"
          fxLayout="row"
          fxLayoutAlign="center center"
        >
          About
        </button>
        <button
          mat-menu-item
          routerLink="/edit"
          class="header-row__menu--item second-row-nav inconsolata-italic-light"
          fxLayout="row"
          fxLayoutAlign="center center"
        >
          Edit
        </button>
        <div class="header-row__contacts" fxLayout="column" fxLayoutGap="15px">
          <div
            class="header-row__email"
            fxLayout="column"
            fxLayoutAlign="center center"
          >
            <p
              class="header-row__email--title inconsolata-italic-light contacts-text-color"
            >
              Write Me
            </p>
            <p
              class="header-row__email--email1 inconsolata-normal-light contacts-email-number-color"
            >
              adam<br />smith@email.com
            </p>
          </div>
          <div
            class="header-row__number margin-bottom"
            fxLayout="column"
            fxLayoutAlign="center center"
          >
            <p
              class="header-row__number--title inconsolata-italic-light contacts-text-color"
            >
              Call Me
            </p>
            <p
              class="header-row__number--number inconsolata-normal-light contacts-email-number-color"
            >
              +1 (234) 567 89 00
            </p>
          </div>
        </div>
        <div
          class="header-row__logos"
          fxLayout="row"
          fxLayoutGap="5px"
          fxLayoutAlign="center center"
        >
          <div
            class="header-row__logos-container"
            fxLayout="column"
            fxLayoutAlign="center center"
          >
            <img
              src="../../assets/images/logos/instagram.png"
              alt="Instagram logo"
              class="header-row__logos-container--image"
            />
          </div>
          <div
            class="header-row__logos-container"
            fxLayout="column"
            fxLayoutAlign="center center"
          >
            <img
              src="../../assets/images/logos/facebook.png"
              alt="Facebook logo"
              class="header-row__logos-container--image"
            />
          </div>
          <div
            class="header-row__logos-container"
            fxLayout="row"
            fxLayoutAlign="center center"
          >
            <img
              src="../../assets/images/logos/twitter.png"
              alt="Twitter logo"
              class="header-row__logos-container--image"
            />
          </div>
          <div
            class="header-row__logos-container"
            fxLayout="row"
            fxLayoutAlign="center center"
          >
            <img
              src="../../assets/images/logos/youtube.png"
              alt="Youtube logo"
              class="header-row__logos-container--image"
            />
          </div>
          <div
            class="header-row__logos-container"
            fxLayout="row"
            fxLayoutAlign="center center"
          >
            <img
              src="../../assets/images/logos/linkedin.png"
              alt="Linkedin logo   "
              class="header-row__logos-container--image"
            />
          </div>
        </div>
      </div>
    </mat-menu>
  </mat-toolbar-row>

  <mat-toolbar-row
    *ngIf="isHandset"
    class="navigation__row header-row second"
    fxLayoutAlign="space-between center"
  >
    <div class="header-row__nav" fxLayout="row" fxLayoutGap="25px">
      <button
        mat-button
        routerLink="/"
        class="header-row__nav--item second-row-nav inconsolata-italic-light"
      >
        Home
      </button>
      <button
        mat-button
        routerLink="/about"
        class="header-row__nav--item second-row-nav inconsolata-italic-light"
      >
        About
      </button>
      <button
        mat-button
        routerLink="/edit"
        class="header-row__nav--item second-row-nav inconsolata-italic-light"
      >
        Edit
      </button>
    </div>
    <div
      class="header-row__logos"
      fxLayout="row"
      fxLayoutGap="5px"
      fxLayoutAlign="end center"
    >
      <div
        class="header-row__logos-container"
        fxLayout="column"
        fxLayoutAlign="center center"
      >
        <img
          src="../../assets/images/logos/instagram.png"
          alt="Instagram logo"
          class="header-row__logos-container--image"
        />
      </div>
      <div
        class="header-row__logos-container"
        fxLayout="column"
        fxLayoutAlign="center center"
      >
        <img
          src="../../assets/images/logos/facebook.png"
          alt="Facebook logo"
          class="header-row__logos-container--image"
        />
      </div>
      <div
        class="header-row__logos-container"
        fxLayout="row"
        fxLayoutAlign="center center"
      >
        <img
          src="../../assets/images/logos/twitter.png"
          alt="Twitter logo"
          class="header-row__logos-container--image"
        />
      </div>
      <div
        class="header-row__logos-container"
        fxLayout="row"
        fxLayoutAlign="center center"
      >
        <img
          src="../../assets/images/logos/youtube.png"
          alt="Youtube logo"
          class="header-row__logos-container--image"
        />
      </div>
      <div
        class="header-row__logos-container"
        fxLayout="row"
        fxLayoutAlign="center center"
      >
        <img
          src="../../assets/images/logos/linkedin.png"
          alt="Linkedin logo   "
          class="header-row__logos-container--image"
        />
      </div>
    </div>
  </mat-toolbar-row>
</mat-toolbar>
