img {
  max-width: 200px;
}

.header-row__logos-container {
  width: 3%;
  background-color: var(--logo-background);
  min-width: 25px;
  min-height: 25px;
}
.navigation__row.header-row.second {
  border-top: 0.5px solid black;
}
.header-row__logos-container--image {
  width: 17px;
}

.navigation {
  padding-left: 3%;
  padding-right: 3%;
}




