.welcome-section__button {
  border: 1px solid var(--border-color);
  margin-left: 10px;
}
.welcome-section {
  background: url("../../assets/images/welcome-background.png") center/cover
    no-repeat;
  height: 90vh;
  padding-left: 10%;
  color: var(--welcome-color-text);
}

.welcome-section__button {
  width: 150px;
  height: 58px;
  font-size: 16.5px;
  color: var(--welcome-color-text) !important;
  border: 2px solid black;
}

.welcome-section__title {
  font-size: 80px;
}

.welcome-section__subtitle {
  font-size: 24px;
}

@media screen and (max-width: 700px) {
  .welcome-section__title {
    font-size: 46px;
  }
}

@media screen and (max-width: 1000px) {
  .welcome-section__title {
    font-size: 69px;
  }
}
