.edit-component__actions {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(170px, 1fr));
  gap: 20px;
}
.edit-component__button {
  min-height: 30px !important;
}

.edit-component__title,
.edit-component__subtitle {
  padding: 20px;
  text-align: center;
}
.edit-component__subtitle {
  font-size: 20px;
  font-family: "Poppins", sans-serif;
}
.edit-component__title {
  font-size: 30px;
  font-family: "Poppins", sans-serif;
  font-weight: bold;
}
.edit-component__error {
  font-size: 20px;
  font-family: "Poppins", sans-serif;
  font-weight: bold;
  text-align: center;
  padding-bottom: 20px;
}

.edit-component__content {
  min-height: 50px;
  margin-bottom: -15px;
}
.edit-component__button   {
  background-color: #613029 !important;
}
.example-card {
  padding-bottom: 20px;


}
.cancel-button {
  background-color: #C5CFE0 !important;
}
