<mat-card class="example-card edit-component">
  <mat-card-header
    class="edit-component__header"
    fxLayout="column"
    fxLayoutAlign="center center"
   
  >
    <mat-card-title class="edit-component__title"
      >Edit About page</mat-card-title
    >
    <mat-card-subtitle class="edit-component__subtitle"
      >Adam Smith</mat-card-subtitle
    >
  </mat-card-header>

  <mat-card-content
    class="edit-component__content"
    fxLayout="row"
    fxLayout.lt-md="column"
    fxLayoutAlign="center center"
    fxLayoutGap="20px"
  >
    <form autocomplete="off" [formGroup]="myForm" class="edit-component__form">
      <mat-form-field appearance="fill" class="edit-component__form-field">
        <mat-label>Change Small Description</mat-label>
        <input
          name="description"
          matInput
          formControlName="newSmallDescription"
          [placeholder]="(smallDescription$ | async) || 'Default Placeholder'"
          class="edit-component__input"
        />
      </mat-form-field>
    </form>
    <form
      class="edit-component__form"
      fxLayout="row"
      fxLayout.lt-md="column"
      fxLayoutAlign="center center"
      fxLayoutGap="20px"
    >
      <mat-form-field appearance="fill" class="edit-component__form-field">
        <mat-label>Change Big Description</mat-label>
        <input
          name="description"
          matInput
          [(ngModel)]="newBigDescription"
          placeholder=""
          class="edit-component__input"
        />
      </mat-form-field>
    </form>
    <form>
      <mat-form-field appearance="fill" class="edit-component__form-field">
        <mat-label>Add New GoodAt Quality</mat-label>
        <input
          name="description"
          matInput
          [(ngModel)]="newGoodAt"
          placeholder=""
          class="edit-component__input"
        />
      </mat-form-field>
    </form>
  </mat-card-content>
  <mat-card-content class="edit-component__content" fxLayout="column"
 
  fxLayoutAlign="end center">
    <mat-error
      *ngIf="myForm.get('newSmallDescription')?.hasError('required')"
      class="custom-error edit-component__error"
      fxLayout="column"
      fxLayoutAlign="end center"
    >
      Small Description is required.
    </mat-error>
    <mat-error
      *ngIf="myForm.get('newSmallDescription')?.hasError('minlength')"
      class="custom-error edit-component__error"
      fxLayout="column"
      fxLayoutAlign="end center"
    >
      Minimum length of Small Description is 10 characters.
    </mat-error>
  </mat-card-content>
  <mat-card-actions class="edit-component__actions" >
    <button
      mat-raised-button
      color="primary"
      type="submit"
      (click)="saveSmallDescription()"
      class="edit-component__button"
    >
      Save Small Description
    </button>
    <button
      mat-raised-button
      color="primary"
      type="submit"
      (click)="saveBigDescription()"
      class="edit-component__button "
    >
      Save Big Description
    </button>
    <button
      mat-raised-button
      color="primary"
      type="button"
      (click)="add()"
      class="edit-component__button"
    >
      Add New Good At
    </button>
    <button
      mat-raised-button
      color="warn"
      type="button"
      (click)="clear()"
      class="edit-component__button "
    >
      Clear
    </button>
  </mat-card-actions>
</mat-card>