/* You can add global styles to this file, and also import other style files */
@import "fonts.css";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}
:root {
  --logo-background: rgb(207, 216, 185);
  --border-color: #000;
  --top-service-button-background: #d9e1c5;
  --top-service-title-color: #141414;
  --top-service-subtitle-color: #6a6a6a;
  --nav-background-color: #fff;
  --nav-border-color: #d0d0d0;
  --nav-contacts-text: #8c8c8c;
  --nav-contacts-contact-color: #21243d;
  --welcome-color-text: #141414;
  --about-me-text-color: #141414;
  --about-me-big-description: #8C8C8C;
  --footer-background-color: #d9e1c5;
  --footer-text-color: #141414;
  --footer-description: #6a6a6a;
  font-family: "Poppins", sans-serif;
}
img {
  width: 100%;
  display: block;
}
body {
  padding: 3%;
}
