/* You can add global styles to this file, and also import other style files */
@import 'fonts.css';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}
:root {
    --logo-background: rgb(207,216,185);
    --border-color: #000;
    font-family:  "Poppins",sans-serif;
  }
img {
  width: 100%;
  display: block;
}




